In [91]:
import sys, csv
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.functions import datediff, col, abs
from pyspark import SparkConf
import requests
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, DateType
from  pyspark.sql.functions import input_file_name, regexp_replace, col, trim

In [2]:
# Use package https://github.com/crealytics/spark-excel
spark = SparkSession.builder.master("spark://172.20.0.9:7077") \
    .appName("load excel s3 minio") \
    .config("spark.hadoop.fs.s3a.endpoint", "http://172.20.0.14:9000") \
    .config("spark.hadoop.fs.s3a.access.key", "minio") \
    .config("spark.hadoop.fs.s3a.secret.key", "minio123") \
    .config("spark.hadoop.fs.s3a.path.style.access", True) \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("fs.s3a.connection.ssl.enabled", False) \
    .config("spark.hadoop.mapreduce.fileoutputcommitter.algorithm.version", "2") \
    .config("spark.hadoop.mapreduce.fileoutputcommitter.cleanup-failures.ignored", "true") \
    .config("fs.s3a.experimental.input.fadvise", "random") \
    .config("spark.speculation", "false") \
    .config("spark.hadoop.fs.s3a.aws.credentials.provider", "org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider") \
    .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:3.2.2,com.amazonaws:aws-java-sdk:1.12.162,com.crealytics:spark-excel_2.12:0.13.5") \
    .getOrCreate()

In [3]:
bucketname = 'data'
s3_dest_path = "s3a://{}/".format(bucketname)

In [4]:
# Create schema for excel file
scm_costumer_status = StructType() \
                     .add("account number", DoubleType(), True) \
                     .add("name", StringType(), True) \
                     .add("status", StringType(), True)

In [7]:
df_costumer_status = spark.read.format("com.crealytics.spark.excel") \
    .option("header", "true") \
    .option("treatEmptyValuesAsNulls", "false") \
    .option("inferSchema", "false") \
    .option("dataAddress", "'Sheet1'!A1:C17") \
    .schema(scm_costumer_status) \
    .load('{}/{}'.format(s3_dest_path, 'sample_customer-status.xlsx'))

In [8]:
df_costumer_status.show()

+--------------+--------------------+------+
|account number|                name|status|
+--------------+--------------------+------+
|      740150.0|          Barton LLC|  gold|
|      714466.0|     Trantow-Barrows|silver|
|      218895.0|           Kulas Inc|bronze|
|      307599.0|Kassulke, Ondrick...|bronze|
|      412290.0|       Jerde-Hilpert|bronze|
|      729833.0|           Koepp Ltd|silver|
|      146832.0|        Kiehn-Spinka|silver|
|      688981.0|         Keeling LLC|silver|
|      786968.0|Frami, Hills and ...|silver|
|      239344.0|          Stokes LLC|  gold|
|      672390.0|     Kuhn-Gusikowski|silver|
|      141962.0|          Herman LLC|  gold|
|      424914.0|       White-Trantow|silver|
|      527099.0|    Sanford and Sons|bronze|
|      642753.0|         Pollich LLC|bronze|
|      257198.0|Cronin, Oberbrunn...|  gold|
+--------------+--------------------+------+

In [9]:
df_sales_fab_2014 = spark.read.format("com.crealytics.spark.excel") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .option("dataAddress", "Sheet1") \
    .option("timestampFormat", "MM-dd-yyyy HH:mm:ss") \
    .load('{}/{}'.format(s3_dest_path, 'sample_sales-feb-2014.xlsx'))

In [10]:
df_sales_fab_2014.show()

+--------------+--------------------+--------+--------+----------+---------+-------------------+
|account number|                name|     sku|quantity|unit price|ext price|               date|
+--------------+--------------------+--------+--------+----------+---------+-------------------+
|      383080.0|            Will LLC|B1-20000|     7.0|     33.69|   235.83|2014-02-01 09:04:59|
|      412290.0|       Jerde-Hilpert|S1-27722|    11.0|     21.12|   232.32|2014-02-01 11:51:46|
|      412290.0|       Jerde-Hilpert|B1-86481|     3.0|     35.99|   107.97|2014-02-01 17:24:32|
|      412290.0|       Jerde-Hilpert|B1-20000|    23.0|      78.9|   1814.7|2014-02-01 19:56:48|
|      672390.0|     Kuhn-Gusikowski|S1-06532|    48.0|     55.82|  2679.36|2014-02-02 03:45:20|
|      383080.0|            Will LLC|S1-82801|    21.0|     13.62|   286.02|2014-02-02 12:45:50|
|      714466.0|     Trantow-Barrows|S1-06532|     9.0|     92.55|   832.95|2014-02-02 17:40:58|
|      239344.0|          Stokes LLC|S1-47412|    44.0|     78.91|  3472.04|2014-02-02 19:58:26|
|      672390.0|     Kuhn-Gusikowski|S1-27722|    36.0|     25.42|   915.12|2014-02-03 01:28:04|
|      307599.0|Kassulke, Ondrick...|S1-27722|    32.0|     95.66|  3061.12|2014-02-03 11:27:34|
|      642753.0|         Pollich LLC|B1-33087|    23.0|     22.55|   518.65|2014-02-04 03:53:52|
|      642753.0|         Pollich LLC|B1-33364|     3.0|      72.3|    216.9|2014-02-04 05:19:52|
|      688981.0|         Keeling LLC|B1-20000|    -1.0|     72.18|   -72.18|2014-02-04 07:43:51|
|      163416.0|         Purdy-Kunde|B1-05914|    33.0|     16.83|   555.39|2014-02-04 19:29:41|
|      257198.0|Cronin, Oberbrunn...|S1-30248|    23.0|     13.42|   308.66|2014-02-04 19:52:57|
|      737550.0|Fritsch, Russel a...|S1-47412|    40.0|     51.01|   2040.4|2014-02-05 01:20:40|
|      383080.0|            Will LLC|B1-53102|    26.0|     41.88|  1088.88|2014-02-05 06:16:34|
|      729833.0|           Koepp Ltd|S1-30248|    14.0|     19.96|   279.44|2014-02-05 16:03:30|
|      714466.0|     Trantow-Barrows|B1-86481|    31.0|     62.07|  1924.17|2014-02-05 19:18:37|
|      424914.0|       White-Trantow|S1-47412|    43.0|     46.49|  1999.07|2014-02-05 22:45:45|
+--------------+--------------------+--------+--------+----------+---------+-------------------+
only showing top 20 rows

In [11]:
df_sales_jan_2014 = spark.read.format("com.crealytics.spark.excel") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .option("dataAddress", "Sheet1") \
    .option("timestampFormat", "MM-dd-yyyy HH:mm:ss") \
    .load('{}/{}'.format(s3_dest_path, 'sample_sales-jan-2014.xlsx'))

In [12]:
df_sales_jan_2014.show()

+--------------+--------------------+--------+--------+----------+---------+-------------------+
|account number|                name|     sku|quantity|unit price|ext price|               date|
+--------------+--------------------+--------+--------+----------+---------+-------------------+
|      740150.0|          Barton LLC|B1-20000|    39.0|     86.69|  3380.91|2014-01-01 07:21:51|
|      714466.0|     Trantow-Barrows|S2-77896|    -1.0|     63.16|   -63.16|2014-01-01 10:00:47|
|      218895.0|           Kulas Inc|B1-69924|    23.0|      90.7|   2086.1|2014-01-01 13:24:58|
|      307599.0|Kassulke, Ondrick...|S1-65481|    41.0|     21.05|   863.05|2014-01-01 15:05:22|
|      412290.0|       Jerde-Hilpert|S2-34077|     6.0|     83.21|   499.26|2014-01-01 23:26:55|
|      714466.0|     Trantow-Barrows|S2-77896|    17.0|     87.63|  1489.71|2014-01-02 10:07:15|
|      218895.0|           Kulas Inc|B1-65551|     2.0|      31.1|     62.2|2014-01-02 10:57:23|
|      729833.0|           Koepp Ltd|S1-30248|     8.0|     33.25|    266.0|2014-01-03 06:32:11|
|      714466.0|     Trantow-Barrows|S1-50961|    22.0|     84.09|  1849.98|2014-01-03 11:29:02|
|      737550.0|Fritsch, Russel a...|S2-82423|    14.0|     81.92|  1146.88|2014-01-03 19:07:37|
|      146832.0|        Kiehn-Spinka|S2-82423|    15.0|     67.74|   1016.1|2014-01-03 19:39:53|
|      688981.0|         Keeling LLC|S2-00301|     7.0|     20.26|   141.82|2014-01-04 00:02:36|
|      786968.0|Frami, Hills and ...|S2-23246|     6.0|     61.31|   367.86|2014-01-04 06:51:53|
|      307599.0|Kassulke, Ondrick...|S2-10342|    17.0|     12.44|   211.48|2014-01-04 07:53:01|
|      737550.0|Fritsch, Russel a...|B1-53102|    23.0|     71.56|  1645.88|2014-01-04 08:57:48|
|      239344.0|          Stokes LLC|S1-06532|    34.0|     71.51|  2431.34|2014-01-04 11:34:58|
|      672390.0|     Kuhn-Gusikowski|S1-30248|    14.0|     72.75|   1018.5|2014-01-04 19:59:02|
|      239344.0|          Stokes LLC|B1-50809|    14.0|     16.23|   227.22|2014-01-04 22:14:32|
|      141962.0|          Herman LLC|S1-82801|    10.0|      94.3|    943.0|2014-01-05 15:12:16|
|      412290.0|       Jerde-Hilpert|S2-00301|    33.0|     31.18|  1028.94|2014-01-05 22:39:21|
+--------------+--------------------+--------+--------+----------+---------+-------------------+
only showing top 20 rows

In [15]:
df_sales_mar_2014 = spark.read.format("com.crealytics.spark.excel") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .option("dataAddress", "Sheet1") \
    .option("timestampFormat", "MM-dd-yyyy HH:mm:ss") \
    .load('{}/{}'.format(s3_dest_path, 'sample_sales-mar-2014.xlsx'))

In [16]:
df_sales_mar_2014.show()

+--------------+--------------------+--------+--------+----------+---------+-------------------+
|account number|                name|     sku|quantity|unit price|ext price|               date|
+--------------+--------------------+--------+--------+----------+---------+-------------------+
|      163416.0|         Purdy-Kunde|S1-30248|    19.0|     65.03|  1235.57|2014-03-01 16:07:40|
|      527099.0|    Sanford and Sons|S2-82423|     3.0|     76.21|   228.63|2014-03-01 17:18:01|
|      527099.0|    Sanford and Sons|B1-50809|     8.0|     70.78|   566.24|2014-03-01 18:53:09|
|      737550.0|Fritsch, Russel a...|B1-50809|    20.0|     50.11|   1002.2|2014-03-01 23:47:17|
|      688981.0|         Keeling LLC|B1-86481|    -1.0|     97.16|   -97.16|2014-03-02 01:46:44|
|      729833.0|           Koepp Ltd|S1-82801|    26.0|     50.29|  1307.54|2014-03-02 02:59:26|
|      307599.0|Kassulke, Ondrick...|S1-93683|    -1.0|     86.38|   -86.38|2014-03-02 03:29:04|
|      412290.0|       Jerde-Hilpert|S2-23246|    27.0|     58.87|  1589.49|2014-03-02 12:10:30|
|      307599.0|Kassulke, Ondrick...|S2-34077|    48.0|     53.36|  2561.28|2014-03-02 14:12:28|
|      141962.0|          Herman LLC|S2-10342|    49.0|     31.39|  1538.11|2014-03-02 23:08:02|
|      257198.0|Cronin, Oberbrunn...|S2-16558|     7.0|     26.21|   183.47|2014-03-03 00:29:24|
|      257198.0|Cronin, Oberbrunn...|S2-23246|    40.0|     49.19|   1967.6|2014-03-03 10:17:24|
|      688981.0|         Keeling LLC|B1-38851|    25.0|     74.68|   1867.0|2014-03-03 18:18:54|
|      239344.0|          Stokes LLC|S1-82801|    41.0|      78.9|   3234.9|2014-03-04 01:06:20|
|      218895.0|           Kulas Inc|S2-78676|    38.0|     89.02|  3382.76|2014-03-04 01:17:11|
|      642753.0|         Pollich LLC|S2-10342|    40.0|     56.85|   2274.0|2014-03-04 01:49:22|
|      737550.0|Fritsch, Russel a...|S2-83881|    12.0|      63.6|    763.2|2014-03-04 15:26:20|
|      146832.0|        Kiehn-Spinka|B1-53636|     5.0|     72.16|    360.8|2014-03-04 21:18:04|
|      412290.0|       Jerde-Hilpert|S2-77896|    43.0|     76.66|  3296.38|2014-03-04 23:10:28|
|      383080.0|            Will LLC|S1-93683|    28.0|     90.86|  2544.08|2014-03-05 05:11:49|
+--------------+--------------------+--------+--------+----------+---------+-------------------+
only showing top 20 rows

# Combining Data

In [17]:
# Union Sales dataset
df_all = df_sales_jan_2014.union(df_sales_fab_2014)
df_all = df_all.union(df_sales_mar_2014)

In [18]:
print(df_all.count())

384

In [120]:
# copy dataframe to a new 
df_merged = df_all.alias('df_merged')
df_merged = df_merged \
    .join(df_costumer_status.alias("df_data") \
    ,df_merged['account number'] == df_costumer_status['account number'],"left")
df_merged.show()

+--------------+------------+--------+--------+----------+---------+-------------------+--------------+------------+------+
|account number|        name|     sku|quantity|unit price|ext price|               date|account number|        name|status|
+--------------+------------+--------+--------+----------+---------+-------------------+--------------+------------+------+
|      141962.0|  Herman LLC|S1-82801|    10.0|      94.3|    943.0|2014-01-05 15:12:16|      141962.0|  Herman LLC|  gold|
|      141962.0|  Herman LLC|B1-53636|     4.0|     18.72|    74.88|2014-01-13 20:50:52|      141962.0|  Herman LLC|  gold|
|      141962.0|  Herman LLC|S2-34077|    44.0|     90.23|  3970.12|2014-01-20 07:27:00|      141962.0|  Herman LLC|  gold|
|      141962.0|  Herman LLC|B1-05914|    30.0|     80.49|   2414.7|2014-01-27 07:26:02|      141962.0|  Herman LLC|  gold|
|      141962.0|  Herman LLC|S2-82423|    40.0|     50.87|   2034.8|2014-01-27 15:18:08|      141962.0|  Herman LLC|  gold|
|      141962.0|  Herman LLC|B1-33087|    27.0|     31.42|   848.34|2014-02-09 21:13:27|      141962.0|  Herman LLC|  gold|
|      141962.0|  Herman LLC|B1-33364|    44.0|     25.37|  1116.28|2014-02-18 13:55:44|      141962.0|  Herman LLC|  gold|
|      141962.0|  Herman LLC|B1-38851|    20.0|     72.88|   1457.6|2014-02-22 16:39:09|      141962.0|  Herman LLC|  gold|
|      141962.0|  Herman LLC|B1-69924|    21.0|      95.0|   1995.0|2014-02-26 19:08:02|      141962.0|  Herman LLC|  gold|
|      141962.0|  Herman LLC|S2-10342|    49.0|     31.39|  1538.11|2014-03-02 23:08:02|      141962.0|  Herman LLC|  gold|
|      146832.0|Kiehn-Spinka|S2-82423|    15.0|     67.74|   1016.1|2014-01-03 19:39:53|      146832.0|Kiehn-Spinka|silver|
|      146832.0|Kiehn-Spinka|S2-16558|    22.0|     87.91|  1934.02|2014-01-11 21:48:26|      146832.0|Kiehn-Spinka|silver|
|      146832.0|Kiehn-Spinka|S1-93683|    26.0|     52.07|  1353.82|2014-01-18 10:21:51|      146832.0|Kiehn-Spinka|silver|
|      146832.0|Kiehn-Spinka|S1-50961|    39.0|     17.72|   691.08|2014-01-18 11:34:38|      146832.0|Kiehn-Spinka|silver|
|      146832.0|Kiehn-Spinka|S1-30248|     1.0|     31.17|    31.17|2014-01-18 22:26:11|      146832.0|Kiehn-Spinka|silver|
|      146832.0|Kiehn-Spinka|S2-23246|    29.0|     82.52|  2393.08|2014-02-08 17:55:04|      146832.0|Kiehn-Spinka|silver|
|      146832.0|Kiehn-Spinka|B1-53102|     6.0|     92.89|   557.34|2014-02-16 03:32:36|      146832.0|Kiehn-Spinka|silver|
|      146832.0|Kiehn-Spinka|S1-50961|    11.0|     35.48|   390.28|2014-02-26 02:24:32|      146832.0|Kiehn-Spinka|silver|
|      146832.0|Kiehn-Spinka|B1-53636|     5.0|     72.16|    360.8|2014-03-04 21:18:04|      146832.0|Kiehn-Spinka|silver|
|      146832.0|Kiehn-Spinka|S1-93683|    17.0|     10.63|   180.71|2014-03-11 12:43:03|      146832.0|Kiehn-Spinka|silver|
+--------------+------------+--------+--------+----------+---------+-------------------+--------------+------------+------+
only showing top 20 rows

In [121]:
def rename_duplicate_columns(dataframe):
    columns = dataframe.columns
    duplicate_column_indices = list(set([columns.index(col) for col in columns if columns.count(col) == 2]))
    for index in duplicate_column_indices:
        columns[index] = columns[index]+'2'
    dataframe = dataframe.toDF(*columns)
    return dataframe

In [125]:
def remove_space_columns(dataframe):
    dataframe_retorno = dataframe.select([F.col(col).alias(col.replace(' ', '_')) for col in dataframe.columns])
    return dataframe_retorno

In [126]:
df_merged = remove_space_columns(rename_duplicate_columns(df_merged))

In [127]:
df_merged.show()

+---------------+------------+--------+--------+----------+---------+-------------------+--------------+------------+------+
|account_number2|       name2|     sku|quantity|unit_price|ext_price|               date|account_number|        name|status|
+---------------+------------+--------+--------+----------+---------+-------------------+--------------+------------+------+
|       141962.0|  Herman LLC|S1-82801|    10.0|      94.3|    943.0|2014-01-05 15:12:16|      141962.0|  Herman LLC|  gold|
|       141962.0|  Herman LLC|B1-53636|     4.0|     18.72|    74.88|2014-01-13 20:50:52|      141962.0|  Herman LLC|  gold|
|       141962.0|  Herman LLC|S2-34077|    44.0|     90.23|  3970.12|2014-01-20 07:27:00|      141962.0|  Herman LLC|  gold|
|       141962.0|  Herman LLC|B1-05914|    30.0|     80.49|   2414.7|2014-01-27 07:26:02|      141962.0|  Herman LLC|  gold|
|       141962.0|  Herman LLC|S2-82423|    40.0|     50.87|   2034.8|2014-01-27 15:18:08|      141962.0|  Herman LLC|  gold|
|       141962.0|  Herman LLC|B1-33087|    27.0|     31.42|   848.34|2014-02-09 21:13:27|      141962.0|  Herman LLC|  gold|
|       141962.0|  Herman LLC|B1-33364|    44.0|     25.37|  1116.28|2014-02-18 13:55:44|      141962.0|  Herman LLC|  gold|
|       141962.0|  Herman LLC|B1-38851|    20.0|     72.88|   1457.6|2014-02-22 16:39:09|      141962.0|  Herman LLC|  gold|
|       141962.0|  Herman LLC|B1-69924|    21.0|      95.0|   1995.0|2014-02-26 19:08:02|      141962.0|  Herman LLC|  gold|
|       141962.0|  Herman LLC|S2-10342|    49.0|     31.39|  1538.11|2014-03-02 23:08:02|      141962.0|  Herman LLC|  gold|
|       146832.0|Kiehn-Spinka|S2-82423|    15.0|     67.74|   1016.1|2014-01-03 19:39:53|      146832.0|Kiehn-Spinka|silver|
|       146832.0|Kiehn-Spinka|S2-16558|    22.0|     87.91|  1934.02|2014-01-11 21:48:26|      146832.0|Kiehn-Spinka|silver|
|       146832.0|Kiehn-Spinka|S1-93683|    26.0|     52.07|  1353.82|2014-01-18 10:21:51|      146832.0|Kiehn-Spinka|silver|
|       146832.0|Kiehn-Spinka|S1-50961|    39.0|     17.72|   691.08|2014-01-18 11:34:38|      146832.0|Kiehn-Spinka|silver|
|       146832.0|Kiehn-Spinka|S1-30248|     1.0|     31.17|    31.17|2014-01-18 22:26:11|      146832.0|Kiehn-Spinka|silver|
|       146832.0|Kiehn-Spinka|S2-23246|    29.0|     82.52|  2393.08|2014-02-08 17:55:04|      146832.0|Kiehn-Spinka|silver|
|       146832.0|Kiehn-Spinka|B1-53102|     6.0|     92.89|   557.34|2014-02-16 03:32:36|      146832.0|Kiehn-Spinka|silver|
|       146832.0|Kiehn-Spinka|S1-50961|    11.0|     35.48|   390.28|2014-02-26 02:24:32|      146832.0|Kiehn-Spinka|silver|
|       146832.0|Kiehn-Spinka|B1-53636|     5.0|     72.16|    360.8|2014-03-04 21:18:04|      146832.0|Kiehn-Spinka|silver|
|       146832.0|Kiehn-Spinka|S1-93683|    17.0|     10.63|   180.71|2014-03-11 12:43:03|      146832.0|Kiehn-Spinka|silver|
+---------------+------------+--------+--------+----------+---------+-------------------+--------------+------------+------+
only showing top 20 rows

In [128]:
# Register as a table
df_merged.createOrReplaceTempView("df_merged")

In [129]:
print(df_merged.count())

384

# Querying Data

In [130]:
top_100 = spark.sql("""
    SELECT m.name, unit_price
    FROM df_merged m
    LIMIT 100
""")
top_100.write.parquet('{}/{}'.format(s3_dest_path, 'sample_customer'), mode='overwrite')

In [131]:
spark.read.format("parquet").load('{}/{}'.format(s3_dest_path, 'sample_customer')).show()

+------------+----------+
|        name|unit_price|
+------------+----------+
|  Herman LLC|      94.3|
|  Herman LLC|     18.72|
|  Herman LLC|     48.85|
|  Herman LLC|      12.1|
|  Herman LLC|     13.34|
|  Herman LLC|     90.23|
|  Herman LLC|     80.49|
|  Herman LLC|     50.87|
|  Herman LLC|     46.02|
|  Herman LLC|     31.42|
|  Herman LLC|     25.37|
|  Herman LLC|     72.88|
|  Herman LLC|      95.0|
|  Herman LLC|     31.39|
|  Herman LLC|     36.67|
|  Herman LLC|     83.61|
|Kiehn-Spinka|     67.74|
|Kiehn-Spinka|     87.91|
|Kiehn-Spinka|     52.07|
|Kiehn-Spinka|     17.72|
+------------+----------+
only showing top 20 rows

In [132]:
spark.stop()